.UserProfiles {
  display: flex;
  margin: 1em 0;
  justify-content: center;
  flex-wrap: wrap;
}

.UserProfile {
  border: 1px solid #EEE;
  text-align: center;
  padding: 1em;
  margin: 1em;
}

.UserProfile img {
  max-width: 200px;
  display: block;
}
